SECRET_KEY=replace-this-with-a-long-random-secret
DEBUG=True
POSTGRES_DB=orders_db
POSTGRES_USER=orders_user
POSTGRES_PASSWORD=replace-this-password
DB_HOST=db
DB_PORT=5432
DB_ENGINE=django.db.backends.postgresql